@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.hideScrollBar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.hideScrollBarIE {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.triangle-right {
  width: 0;
  height: 0;
  border-top: 10px solid #6966cc;
  border-right: 10px solid transparent;
}